<link rel="stylesheet" href="/style/test/style.css" />
<script src="https://kit.fontawesome.com/962dd205fc.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/js/test/app.js"></script>


<div class="flex-wrap">
  <div class="name">Hi!&#128075; I'm Andrew Y.</div>
  <ul class="navbar-nav">
      <li class="logo">
        <a href="https://github.com/YushchenkoAndrew" class="nav-link">
          <i class="fab fa-github"></i>
        </a>
      </li>
  </ul>

    <img src="/images/test/Neko.jpg" class="Avatar"></img>
</div>
<hr class="solid"/>
<div class="about_me">About me:</div>

<div class="flex-wrap">
  <div class="context">
  <div class="text">Status: 🟢 <b>Student</b></div>
  <div class="text">I'm currently learning: <b>TypeScript</b></div>
  <div class="text">My projects: <a href="/projects">here</a></div>
  <div class="text">How to reach me: <a href="https://github.com/YushchenkoAndrew/template/issues/new">here</a></div>
</div>

<div>
  <div class="interest">I'm intreating in:</div>
  <div class="box"> Testing</div>
</div>
  <div id="donutchart"></div>
</div>

<hr class="solid"/>
