<link rel="stylesheet" href="/style/test/style.css" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/js/test/app.js"></script>


<div class="flex-wrap">
  <div class="name">Hi! I'm Andrew Y.</div>
    <img src="/images/test/Neko.jpg" class="Avatar"></img>
</div>
<hr class="solid"/>

<div class="flex-wrap">
  <div class="context">
  <div class="name"> Testing</div>
  <div class="name"> Testing</div>
  <div class="name"> Testing</div>
  <div class="name"> Testing</div>
  </div>
  <div id="donutchart"></div>
</div>

<hr class="solid"/>
