<script src="/js/test/app.js"></script>

<center><h2>Testing...</h2></center>
<center><p>Creating a simple page for testing a router</p></center>

<% for (let i = 0; i < 10; i++) { %> <%= i %> <% } %> <%# comments %>

<img src="/images/test/Neko.jpg" alt="" srcset="" />
